body {
  --font-size-default: 16px;
  --font-family-default: Helvetica, Arial, sans-serif;

  --color-text-default: #222222;
  --color-text-grey: #639fab;
  --color-yellow: #bbcde5;
  --color-white: #faf9f6;
  --color-grey: #f4f4f4;
  --color-theme-main: #1c5d99;
  --color-price: #c60c0c;

  background-color: var(--color-white);
}
