.sharePage {
  display: flex;
  width: 100vh;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-default);
  opacity: 50%;
  z-index: 998;
}

.shareField {
  width: 33%;
  height: 20vh;
  flex-direction: column;
  gap: 3vh;
  background-color: var(--color-white);
  z-index: 999;
}

.shareField button {
  border-radius: 20%;
}
